USE [master]
GO
/****** Object:  Database [myweb]    Script Date: 16/12/2025 1:15:17 SA ******/
CREATE DATABASE [myweb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myweb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myweb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myweb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myweb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myweb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myweb]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[address_line] [nvarchar](255) NULL,
	[city] [nvarchar](50) NULL,
	[district] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[size] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[collection_id] [int] IDENTITY(1,1) NOT NULL,
	[collection_name] [nvarchar](100) NOT NULL,
	[year_launch] [nvarchar](255) NULL,
	[image_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[collection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NULL,
	[pay_method] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [int] NULL,
	[order_date] [datetime] NULL,
	[status_history] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[price_promotion] [decimal](18, 2) NOT NULL,
	[detail] [nvarchar](max) NULL,
	[collection_id] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/12/2025 1:15:18 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[role] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([address_id], [user_id], [address_line], [city], [district], [phone]) VALUES (1, 1, N'123 Đường A', N'Hà Nội', N'Hoàn Kiếm', N'0901111111')
INSERT [dbo].[Addresses] ([address_id], [user_id], [address_line], [city], [district], [phone]) VALUES (2, 2, N'456 Đường B', N'Hà Nội', N'Cầu Giấy', N'0902222222')
INSERT [dbo].[Addresses] ([address_id], [user_id], [address_line], [city], [district], [phone]) VALUES (3, 3, N'789 Đường C', N'HCM', N'Quận 1', N'0903333333')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [user_id], [created_at]) VALUES (1, 1, CAST(N'2025-11-26T17:16:32.580' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [user_id], [created_at]) VALUES (2, 2, CAST(N'2025-11-26T17:16:32.580' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [user_id], [created_at]) VALUES (3, 3, CAST(N'2025-11-26T17:16:32.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([cart_item_id], [cart_id], [product_id], [quantity], [size]) VALUES (1, 1, 1, 2, NULL)
INSERT [dbo].[CartItems] ([cart_item_id], [cart_id], [product_id], [quantity], [size]) VALUES (2, 2, 2, 1, NULL)
INSERT [dbo].[CartItems] ([cart_item_id], [cart_id], [product_id], [quantity], [size]) VALUES (3, 3, 3, 3, NULL)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Collections] ON 

INSERT [dbo].[Collections] ([collection_id], [collection_name], [year_launch], [image_url]) VALUES (1, N'Xuân 2023', N'2023', N'image/Collections/xuan2023.jpg')
INSERT [dbo].[Collections] ([collection_id], [collection_name], [year_launch], [image_url]) VALUES (2, N'Hè 2023', N'2023', N'image/Collections/he2023.jpg')
INSERT [dbo].[Collections] ([collection_id], [collection_name], [year_launch], [image_url]) VALUES (3, N'Thu 2023', N'2023', N'image/Collections/thu2023.jpg')
SET IDENTITY_INSERT [dbo].[Collections] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price], [pay_method]) VALUES (11, 1, 10, 3, CAST(350000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price], [pay_method]) VALUES (12, 1, 16, 2, CAST(270000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDetails] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price], [pay_method]) VALUES (14, 1, 18, 3, CAST(350000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [total_amount], [status], [order_date], [status_history]) VALUES (1, 1, CAST(3940000.00 AS Decimal(18, 2)), 3, CAST(N'2025-11-29T07:33:53.170' AS DateTime), NULL)
INSERT [dbo].[Orders] ([order_id], [user_id], [total_amount], [status], [order_date], [status_history]) VALUES (2, 2, CAST(2690000.00 AS Decimal(18, 2)), 3, CAST(N'2025-05-12T00:00:00.000' AS DateTime), N'[{"time":"2025-11-29T10:39:35.531Z","status":3,"note":null}]')
INSERT [dbo].[Orders] ([order_id], [user_id], [total_amount], [status], [order_date], [status_history]) VALUES (3, 3, CAST(4290000.00 AS Decimal(18, 2)), 2, CAST(N'2025-05-13T00:00:00.000' AS DateTime), N'[{"time":"2025-11-29T10:38:34.463Z","status":2,"note":null},{"time":"2025-11-29T10:43:56.337Z","status":4,"note":"Gọi 3 lần không nghe"},{"time":"2025-11-29T11:05:20.029Z","status":2,"note":"Giao lần 2"}]')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([product_id], [product_name], [price], [image_url], [price_promotion], [detail], [collection_id], [status]) VALUES (1, N'Váy hoa nhí', CAST(400000.00 AS Decimal(18, 2)), N'image/vay/vay1.jpg', CAST(350000.00 AS Decimal(18, 2)), N'Váy mùa hè nhẹ nhàng, vải cotton thoáng mát', 1, 1)
INSERT [dbo].[Products] ([product_id], [product_name], [price], [image_url], [price_promotion], [detail], [collection_id], [status]) VALUES (2, N'Váy công sở', CAST(650000.00 AS Decimal(18, 2)), N'image/vay/vay2.jpg', CAST(600000.00 AS Decimal(18, 2)), N'Váy suông thanh lịch, phù hợp môi trường văn phòng', 2, 1)
INSERT [dbo].[Products] ([product_id], [product_name], [price], [image_url], [price_promotion], [detail], [collection_id], [status]) VALUES (3, N'Váy maxi đi biển', CAST(500000.00 AS Decimal(18, 2)), N'image/vay/vay3.jpg', CAST(450000.00 AS Decimal(18, 2)), N'Váy maxi dài, họa tiết nhiệt đới', 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [email], [role], [created_at]) VALUES (1, N'user1', N'123456', N'user1@mail.com', 0, CAST(N'2025-11-26T17:16:32.547' AS DateTime))
INSERT [dbo].[Users] ([user_id], [username], [password], [email], [role], [created_at]) VALUES (2, N'user2', N'123456', N'user2@mail.com', 0, CAST(N'2025-11-26T17:16:32.547' AS DateTime))
INSERT [dbo].[Users] ([user_id], [username], [password], [email], [role], [created_at]) VALUES (3, N'user3', N'123456', N'user3@mail.com', 0, CAST(N'2025-11-26T17:16:32.547' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CartItems_Unique]    Script Date: 16/12/2025 1:15:18 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CartItems_Unique] ON [dbo].[CartItems]
(
	[cart_id] ASC,
	[product_id] ASC,
	[size] ASC
)
WHERE ([size] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5723134FD6B]    Script Date: 16/12/2025 1:15:18 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ('M') FOR [size]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([collection_id])
REFERENCES [dbo].[Collections] ([collection_id])
GO
USE [master]
GO
